@use "../helpers/varibels" as *;
@use "../helpers/mixins" as *;

//
@use "../componants/heading" as *;
@use "../componants/botton" as *;
//
@use "../layout/footer" as *;
@use "../layout/grid" as *;
@use "../layout/header" as *;

// start Home page

// start slider
.slider-background {
  background-color: #45a8ba !important;
  padding: 20px 0 0;
  .slid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    img {
      width: 250px;
      height: 250px;
      @include mobile {
        width: 170px;
        height: 170px;
      }
    }
    h4 {
      color: white;
      font-weight: 300;
    }
    p {
      font-size: 22px;
      font-weight: bold;
      color: white;
      @include mobile {
        font-size: 16px;
      }
    }
  }
}
// start catagury >>>

.title-cat {
  span {
    color: $black-color;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
  }
  .btn-cat {
    border: 1px solid black !important;
    background-color: white;
    color: black;
    border-radius: 25px;
    &:hover {
      background-color: #f6f4f4;
      color: black;
    }
  }
}
//  start card catagury  ?>>>
.card-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.cat-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .card-circle {
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    img {
      max-width: 100%;
      width: 100px;
      height: 100px;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  h3 {
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
    &:hover {
      color: #45a8ba;
    }
  }
}
// start Card item
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-top: 20px;
  gap: 15px;
  margin-bottom: 20px;
}
.product-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  .img-card {
    img {
      max-width: 100%;
      width: 180px;
      height: 180px;
    }
  }
  .card-info {
    display: flex;
    padding: 0 20px 0;
    gap: 10px;
    flex-direction: column;
    img {
      max-width: 100%;
      width: 30px;
      cursor: pointer;
      text-align: right;
    }
    p {
      font-size: 16px;
      color: #777;
      text-align: left;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    img {
      width: 20px;
      cursor: pointer;
    }
    span {
      font-weight: bold;
      color: black;
      padding: 0 5px;
      span {
        color: #ffc107;
        font-size: 17px;
      }
    }
    .card-rate {
      display: flex;
      align-items: center;
    }
  }
}

//  start descount section
.descount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin: 20px 0;
  color: white;
  gap: 20px;
  background-color: hsl(0deg 0% 37.25%);
  border-radius: 12px;
  img {
    max-width: 100%;
    width: 250px;
  }
  .info {
    display: flex;
    flex-direction: column;
    p {
      font-size: 20px;
    }
    span {
      font-weight: bold;
      color: #45a8ba;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
// start brand-card

.brand-card {
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 150px;
  background-color: white;
  text-align: center;
  img {
    text-align: center;
  }
}
.items-container-brand {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  padding-top: 20px;
  gap: 15px;
  margin-bottom: 20px;
}
